.admin-dashboard-body {
    min-height: 100vh;
    font-size: 1.6rem;
}

.manage-reply-span,
.reply-delete-span {
    display: inline-block;
}

.manage-reply-span {
    float: left;
}

.reply-delete-span {
    float: right;
}

.manage-comment-header {
    h4 {
        display: inline-block;
        float: left;
    }

    button {
        float: right;
        margin-right: 20px;
    }
}

.bg-orange {
    background-color: $orange !important;
}

.bg-purple {
    background-color: $purple !important;
}

.bg-wetasphalt {
    background-color: #34495e !important;
}

.bg-brown  {
    background-color: brown !important;
}

.admin-nav-fontsize  {
    font-size: 1.6rem;
}

