.img__row  {

    position: relative;
    margin-left: .5rem;

    &__desc  {
        display: inline-block;
        position: absolute;
        top: 1rem;
        left: 10rem;
        width: 80%;
    }
}
