.img__row  {
    margin-left: .5rem;
    display: flex;

    &__img  {
        display: inline-block;
    }

    &__desc  {
        display: inline-block;
        width: 70%;

        @include respond(tab-port)  {
            left: 12rem;
        }

        @include respond(phone)  {
            left: 14rem;
        }
    }
}
