.img__row  {

    position: relative;
    margin-left: .5rem;

    &__desc  {
        display: inline-block;
        position: absolute;
        top: 1rem;
        left: 10rem;
        width: 80%;

        @include respond(tab-port)  {
            left: 12rem;
        }

        @include respond(phone)  {
            left: 14rem;
            width: 70%;
        }
    }
}
