// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,body
{
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
}

.bg-purple {
    background-color: #800080 !important;
}

.bg-orange {
    background-color: #ffa500 !important;
}

.bg-wetasphalt  {
    background-color: #34495e !important;
}

#cover {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.admin-dashboard-body  {
    height: 100vh;
}
