// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
}

.bg-purple {
    background-color: #800080 !important;
}

.bg-orange {
    background-color: #ffa500 !important;
}

.bg-wetasphalt {
    background-color: #34495e !important;
}

#cover {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.admin-dashboard-body {
    height: 100vh;
}

.manage-reply-span,
.reply-delete-span {
    display: inline-block;
}

.manage-reply-span {
    float: left;
}

.reply-delete-span {
    float: right;
}

.manage-comment-header {
    h4 {
        display: inline-block;
        float: left;
    }

    button {
        float: right;
        margin-right: 20px;
    }
}

.comment-reply-form-container,
.edit-comment-form-container {
    visibility: hidden;
}

#commentReplyForm,
#editCommentForm  {

    margin-top: 10px;

    .form-group  {
        position: relative
    }

    textarea  {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        display: inline-block;
        width: 80%;
    }

    .required-error {
        border: solid 2px #a90000;
        background-color: #ffcfd6;
    }

    .comment-reply-button-box,
    .edit-comment-button-box {
        display: inline-block;
        position: absolute;
        top:10px;
        margin-left: 10px;

        .fa-check-circle  {
            color: #2fa360;
            font-size: 1.2rem;
        }

        .fa-times-circle  {
            color: #8b0000;
            font-size: 1.2rem;
        }
    }
}

.edit-comment-link-box  {
    display: inline-block;

    a {
        margin-left: 10px;
        font-size: .80rem;
    }

    a.edit-comment-link  {
        color: #2fa360;
    }
    a.delete-comment-link  {
        color: #8b0000;
    }

    a.edit-comment-link:hover,
    a.delete-comment-link:hover {
        color: #666;
    }
}
