html, body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
}

.bg-purple {
    background-color: #800080 !important;
}

.bg-orange {
    background-color: #ffa500 !important;
}

.bg-wetasphalt {
    background-color: #34495e !important;
}
