
/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }

    .yugen-farm-welcome  {

        text-align: center;

        .welcome-text-box  {
            transform: translate(-50%, -100%);

            a  {
                display: none;
            }
        }
    }
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .yugen-farm-welcome  {

        text-align: center;

        .welcome-text-box  {
            transform: translate(-50%, -75%);

            a  {
                display: none;
            }
        }
    }
}

