.form  {
    &__group  {
        font-size: 1.6rem;
    }

    &__group:not(:last-child)  {
        margin-bottom: 2rem;
    }

    //inpput

    &__label  {
        display: block;
        margin: .5rem;
    }

    &__control  {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        display: block;
        margin: .5rem;
        padding: .5rem;
        border-radius: .2rem;
        background-color: rgba(#7f8c8d, .1);
        border-left: solid 3px #7f8c8d;
        border-top: none;
        border-right: none;
        border-bottom: .3rem solid transparent;
        width: 95%;
    }

    //checkbox

    &__check  {
        margin-left: .5rem;
    }

    &__check-input  {

    }

    &__check-label  {
        margin-left: .5rem;
    }
}
