.list-inline  {

    list-style: none;

    &__item  {
        display: inline-block;
    }

    &__item:not(:last-of-type)  {
        margin-right: 1rem;
    }
}

.list-unstyled  {
    list-style: none;

    & li:not(:last-of-type)  {
        margin-bottom: 1rem;
    }
}
