$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);


/*==================================
    TIMELINE
==================================*/

/*-- GENERAL STYLES
------------------------------*/


.timeline-container {
    margin-top: 1rem;
    padding-top: 1rem;
    @include respond(phone)  {
        padding-right: 10px;
    }
}

.timeline {
    line-height: 1.6em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    h1, h2, h3, h4, h5, h6 {
        line-height: inherit;
    }
}

.timeline-marker {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 30px;
    &:before {
        background: $primary-color;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 21px; left: -3px;
        width: 15px;
        transition: background 0.3s ease-in-out,
        border 0.3s ease-in-out;
        @include respond(phone)  {
            top: 25px;
        }
    }
    &:after {
        content: "";
        width: 3px;
        background: #CCD5DB;
        display: block;
        position: absolute;
        top: 42px; bottom: 0; left: 6px;
        @include respond(phone)  {
            top: 46px;
        }
    }
    .timeline-item:last-child &:after {
        content: none;
    }
}

.data-type-list  {
    list-style: none;
    font-size: 1.2rem;
    margin-top: 1rem;
}

/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/

.timeline-centered {
    &,
    .timeline-item,
    .timeline-info,
    .timeline-marker,
    .timeline-content {
        display: block;
        margin: 0;
        padding: 0;
    }
    .timeline-item {
        overflow: hidden;
        position: relative;
    }
    .timeline-marker {
        position: absolute;
        left: 50%;
        margin-left: -7.5px;

        @include respond(phone)  {
            left: 0;
            margin-left: 3rem;
        }
    }
    .timeline-item:not(:first-of-type)  {
        .timeline-marker  {
            &:before {
                top: 0; left: -3px;
            }

            &:after  {
                top: 21px; bottom: 0; left: 6px;
            }
        }
    }
    .timeline-info  {
        width: 52.3%;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 0 0 .5em 0;
        text-transform: uppercase;
        white-space: nowrap;

        @include respond(phone)  {
            width: 100%;
            margin: 1rem 0;
        }
    }
    .timeline-content {
        width: 48%;
        padding-bottom: 2rem;
        p  {
            font-size: 1.2rem;
        }
        p:last-child {
            margin-bottom: 0;
        }

        @include respond(phone)  {
            width: 90%;
        }
    }


    > .timeline-item-odd .timeline-info {
        float: left;
        text-align: right;
        padding-right: 30px;
        @include respond(phone)  {
            float: none;
            padding-left: 20px;
        }
    }
    > .timeline-item-odd .timeline-content {
        float: right;
        text-align: left;
        @include respond(phone)  {
            float: none;
            margin-top: 5px;
            margin-left: 45px;
        }
    }


    > .timeline-item-even .timeline-info {
        float: right;
        text-align: left;
        @include respond(phone)  {
            float: none;
            padding-left: 20px;
        }
    }
    > .timeline-item-even .timeline-content {
        float: left;
        text-align: right;

        @include respond(phone)  {
            float: none;
            text-align: left;
            margin-top: 12px;
            margin-left: 45px;
            padding-right: 45px;
        }
    }
}
