.footer  {
    @include gridWidthCenterd;
    background-color: $dark-color;
    color: $light-color;
    text-align: center;
    height: 12rem;

    width: 100%;

    &__content  {

        letter-spacing: .3rem;

        & div  {
            font-size: 1.2rem;
            padding-bottom: 2rem;
        }

        & a:link,
        & a:visited {
            color: $light-color;
            text-decoration: none;
        }

        & a:active,
        & a:hover  {
            color: $light-grey;
        }
    }
}
