.footer  {
    background-color: $dark-color;
    color: $light-color;
    text-align: center;
    margin: 0 2.5rem;

    &__content  {
        letter-spacing: .3rem;
        max-width: $grid-width;
        margin: 0 auto;

        & div  {
            font-size: 1.2rem;
            padding-bottom: 2rem;
        }

        & a:link,
        & a:visited {
            color: $light-color;
            text-decoration: none;
        }

        & a:active,
        & a:hover  {
            color: $light-grey;
        }
    }
}
