.article__post  {

    font-size: 1.6rem;

    @include respond(tab-port)  {
        margin: 0 2.5rem;
    }

    &__container  {
        margin-bottom: 2rem;
    }

    &__content  {
        margin-bottom: 2rem;
        font-size: 1.6rem !important;

        img  {
            max-width: 100%;
            height: auto;
        }

        @include respond(phone)  {
            font-size: 2.5rem !important;
            line-height: 1.5;
        }
    }

    &--meta  {
        margin-bottom: 2rem;
    }
}
@include respond(tab-port) {
    .post-categories {
        margin: 0 4rem 0 2rem;
    }
}
