
.hero-section {
    width: 95vw;
    max-width: $grid-width;
    margin: 0 auto;
    padding-bottom: .5rem;
}

.blog-section  {
    @include gridWidthCenterd;
    border-top: solid 2px $dark-color;
    border-bottom: solid 2px $dark-color;
    padding: 2.7rem 0 1rem 0;
    margin-bottom: 2.5rem;
}

.article-section {
    width: 95vw;
    max-width: $grid-width;
    margin: 0 auto;
    padding-top: 5.8rem;
    padding-bottom: 3rem;
    border-top: solid 2px $dark-color;
    border-bottom: solid 2px $dark-color;
    position: relative;

    text-align: center;

    @include respond(phone)  {

    }

    &__title  {
        @include articalSectionTitle;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title--bottom  {
        @include articalSectionTitle;
        position: absolute;
        bottom: -4.4%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond(tab-port)  {
            bottom: -1.6%;
        }

        a:link,
        a:visited {
            color: $light-font;
            text-decoration: none;
        }

        a:active,
        a:hover  {
            color: $light-grey;
        }
    }
}
