// MEDIA QUERY MANAGER
/*
0 - 600 PX: PHONE
600-900 PX: TABLET PORTRAIT
900-1200 PX: TABLE LANDSCAPE
1200-1800 PX: NORMAL DESKTOP (DEFAULT STYLES)
1800 PX + BIG DESKTOP

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin respond($breakpoint)  {
    @if $breakpoint == phone  {
        @media (max-width: 37.5em) { @content };    // 600px
    }

    @if $breakpoint == tab-port  {
        @media (max-width: 56.25em) { @content };     // 900px
    }

    @if $breakpoint == tab-land  {
        @media (max-width: 75em) { @content };    // 1200px
    }

    @if $breakpoint == big-desktop  {
        @media (min-width: 112.5em) { @content };    //1800px
    }
}

@mixin clearFix {
    &:after  {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerHorizontalVertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin gridWidthCenterd {
    max-width: $grid-width;
    min-width: $grid-width;
    margin: 0 auto;
}

@mixin blackBottomBorder  {
    padding-bottom: 2.2rem;
    border-bottom: solid .2rem $black-color;
}
