.dark-bottom-border  {
    padding-bottom: 2rem;
    border-bottom: solid .2rem $dark-color;
}

.sticky-top  {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 100;
}

.img--fluid {
    max-width: 100%;
    height: auto;
}

.text-center  {
    text-align: center;
}

.bottom-margin-rem2  {
    margin-bottom: 2rem !important;
}

.bottom-margin-rem4  {
    margin-bottom: 4rem !important;
}

.bottom-margin-rem6  {
    margin-bottom: 6rem !important;
}

.right-margin-rem2  {
    margin-right: 2rem !important;
}

.left-margin-rem2  {
    margin-left: 2rem !important;
}

.top-margin-rem2  {
    margin-left: 2rem !important;
}

.left-margin-rem4  {
    margin-left: 4rem !important;
}

.invalid-feedback  {
    color: $invalid-color;
    margin-left: 1rem;
    letter-spacing: .2rem;
    display: inline-block;
}

.d-inline-block  {
    display: inline-block !important;
}

.text-uppercase  {
    text-transform: uppercase;
}

.font500  {
    font-weight: 500
}

.clearfix  {
    @include clearFix;
}

.light-font  {
    color: $light-font;
}
