.black-bottom-border  {
    padding-bottom: 2rem;
    border-bottom: solid .2rem $black-color;
}

.sticky-top  {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 9999;
}
