// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'Lato', sans-serif;
$font-base-size: 62.5%;
$line-height-base: 1.6;

// Colors ~ main colors
$primary-color: #344955;
$secondary-color: #f9aa33;
$secondary-color-shaded: #d78a2d;
$invalid-color: orangered;
$light-color: #FFFAFA;
$dark-color: #263238;

// Colors ~ fonts
$dark-font: #333;
$light-font: #efefef;

// Colors ~ supporting colors
$light-grey: lightgrey;
$white-color: #fff;
$black-color: #000;

$blue: #2980b9;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #7bed9f;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// grid
$grid-width: 114rem;    //default width
$gutter-vertical: 2.2rem;
$gutter-vertical-small: 1.2rem;
$gutter-horizontal: 2.2rem;
